body
{
	margin:0;
	padding: 0;
	background-color: #ddd;
}
header
{
	width: 100%;
	height: 300px;
}

header .img-couvert 
{
	width: 100%;
     height: inherit;
     
}
header .img-profil
{

	width: 200px;
     height: 150px;
     margin-top: -70px;
     margin-left: 40px;
}
header .login
{
	color:black;
	 font-size: 30px;
	 letter-spacing: 3px;
	 text-transform: uppercase;
}
/*aside css*/

aside
{
	width: 35%;
	float: left;
	/*background-color: white;*/
	margin-top: 165px;
	/*height: 300px;*/
	margin-left: 20px;
	
}
aside .aside-header
{
	border-top: 2px solid black;
	width: 100%;
	height: 100px;
	background-color: white;
	margin-bottom: 20px;
	padding-left: 10px;
	padding-top: 10px;
}
aside .aside-body
{
	border-top: 2px solid black;
	width: 100%;
	
	background-color: white;
	padding: 20px;

	
}
aside .img-ami
{
    width: 90px;
    height: 90px;
   
   
    
}
aside .ami 
{
      
      display: inline-block;
      /*text-align: center;*/
      margin-left: 5px;
      margin-bottom: 5px;
}
/*section css*/
section
{
	width: 55%;
	/*margin:auto;*/
	float: right;
	margin-right: 50px;
	height: 400px;
	/*background-color: red;*/
	margin-top: 90px;
	/*border-top: 2px solid black;*/
	padding-top: 10px;
	/*background-color: red;*/

}
section .section-header
{
	margin-top: 30px;
	border-bottom: 2px solid black;
	/*margin-top: 30px;
	padding-top: 30px;*/
	/*background-color: black;*/
}
section .section-body
{

	background-color: white;
}

.publication
{
	width: 500px;
	border-bottom: 1px solid black;
	margin: auto;
	text-align: center;
	margin-bottom: 20px;
	/*background-color: rgba(0,0,0,0.2);*/
	
	

}
.publication .img-pers
{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.publication img
 {
 	width: 300px;
 }
.publication h3,h6
{
	display: inline-block;
}
.publication a
{
     margin-left: 20px;
}